* {
  box-sizing: border-box;
}

div.container {
  height: 100vh;
  width: 100vw;

}

div.container mat-grid-list {
  height: calc(100%);
}

mat-form-field + mat-form-field ,
mat-form-field + mat-select {
  margin-left: 5px;
}

google-chart + google-chart {
  margin-top: 5px;
  margin-left: 10px;;
}

.graphContainer google-chart {
  border: 1px solid darkgray;
  border-radius: 4px;
  box-shadow: 4px 4px 4px darkgray;
}

.graphContainer {
  height: calc(100%);
  width: calc(100%);
  overflow-y: auto;
}


.scroller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

section + section,
mat-form-field + section{
  margin-left: 10px;
}

mat-radio-button + mat-radio-button{
  margin-top: 4px;
}

section.boxed {
  padding: 4px;
  background-color: rgb(0,0,0,0.04);
  font-size: 11pt;
  border-bottom: 1px solid black;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

section.boxed:hover {
  border-bottom-width: 2px;
}

.vertical.flex {
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

.sensorlist {
  display: flex;
  height: 49px;
  /* flex-flow: wrap; */
  width: 400px;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  flex-direction: column;
}

.selectionContainer{
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

