* {
  box-sizing: border-box;
}

div.container {
  height: 100vh;
  width: 100vw;

}

div.container mat-grid-list {
  height: calc(100% - 5px);
}

mat-form-field + mat-form-field ,
mat-form-field + mat-select {
  margin-left: 5px;
}

google-chart + google-chart {
  margin-top: 5px;
}

.graphContainer google-chart {
  border: 1px solid darkgray;
  border-radius: 4px;
  box-shadow: 4px 4px 4px darkgray;
}

.graphContainer {
  height: calc(100%);
  width: calc(100%);
  overflow-y: auto;
}

.scroller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

}

section + section,
mat-form-field + section{
  margin-left: 10px;
}

mat-radio-button + mat-radio-button{
  margin-top: 4px;
}

section.boxed {
  padding: 4px;
  border:1px solid black;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 4px 4px lightgray;
  font-size: 11pt;
}

.vertical.flex {
  display: flex;
  flex-direction: column;
  align-items: baseline;

}
