<div class="container">
  <mat-grid-list cols="40" rowHeight="fit">
    <mat-grid-tile
      [colspan]="40"
      [rowspan]="5"
      [style.background]="color">
      <mat-form-field appearance="fill">
        <mat-label>Select city</mat-label>
        <mat-select (selectionChange)="selectedOneCity()" [(ngModel)]="selectedCity">
          <mat-option *ngFor="let city of citiesList" [value]="city">
            {{city.Name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="selectedCity">
        <mat-label>Select station</mat-label>
        <mat-select (selectionChange)="selectedOneStation()" [(ngModel)]="selectedStation">
          <mat-option *ngFor="let station of stationList" [value]="station">
            {{station.Street}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <ng-container *ngIf="selectedStation">
        <div *ngIf="selectedStation && selectedCity">
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-hint>Day/Month – Day/Month</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker
                                 (closed)="setMonthAndYear()"
                                 startView="month"
                                 [startAt]="openingDate"
          ></mat-date-range-picker>
          <mat-error *ngIf="range.controls['start']?.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="range.controls['end']?.hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>

      </ng-container>
      <section class="boxed" *ngIf="validDateSelected">
        <div class="vertical flex">
          <mat-radio-group [(ngModel)]="selectedAverage">
            <div *ngFor="let average of this.averages">
              <mat-radio-button class="example-radio-button" [value]="average" (change)="updateOnAverage()">
                {{average}}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>

      </section>


      <ng-container *ngIf="validDateSelected && selectedAverage" >
        <section class="boxed">
          <div class="vertical flex">
            <div *ngFor="let sensor of this.allAvailableSensors">
              <mat-checkbox [(ngModel)]="sensor.Selected"
                            (change)="updateAllSensorsSelected(sensor);">
                {{sensor.Component}} <span *ngIf="sensor.isGenerated">(generated)</span>
                <span
                  *ngIf="!sensor.isGenerated && sensor.hasDataFromDB">Cleaned: {{(sensor.numberOfCleanedMeasurements / sensor.totalNumberOfMeasurements) * 100 | number:'1.0-0'}}
                  %</span>
              </mat-checkbox>
            </div>
          </div>
        </section>
      </ng-container>

      <section class="boxed" *ngIf="selectedSensors.length > 0">
        <div class="vertical flex">
          <button mat-icon-button *ngIf="!simulationIsRunning" (click)="startSimulation()"
                  [disabled]="simulationIsRunning">
            <mat-icon>play_circle</mat-icon>
          </button>
          <button mat-icon-button *ngIf="simulationIsRunning" (click)="stopSimulation()">
            <mat-icon>stop_circle</mat-icon>
          </button>
          <P *ngIf="simulationIsRunning"> {{currentSimulationTime | date:'MM/dd HH:mm'}}</P>
        </div>
      </section>

    </mat-grid-tile>


    <mat-grid-tile
      [colspan]="25"
      [rowspan]="20"
      [style.background]="color">
      <div class="graphContainer">
        <div class="scroller">
          <ng-container *ngIf="this.selectedSensors.length > 0 && selectedCity && selectedStation">
            <ng-container *ngFor="let sensor of this.selectedSensors">
              <ng-container *ngIf="sensor.isGenerated; then generated; else normal">
              </ng-container>
              <ng-template #normal>
                <google-chart #chart *ngIf="sensor.hasDataFromDB"
                              [title]="'Level of ' + sensor.Component + ' in ' +  selectedCity.Name + ' ' + selectedStation.Street"
                              [type]="typeLine"
                              [data]="sensor.filteredMeasurements"
                              [columns]="['Data', sensor.Component, sensor.Component + 'Cleaned']"
                              [options]="optionsLine"
                              [width]="width"
                              [height]="height">
                </google-chart>
              </ng-template>
              <ng-template #generated>
                <google-chart #chart *ngIf="sensor.hasDataFromDB"
                              [title]="'Generated level of ' + sensor.Component + ' in ' + selectedCity.Name + ' ' + selectedStation.Street "
                              [type]="typeLine"
                              [data]="sensor.filteredMeasurements"
                              [columns]="['Data', sensor.Component]"
                              [options]="optionsLine"
                              [width]="width"
                              [height]="height">
                </google-chart>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="15"
      [rowspan]="20"
      [style.background]="color">
      <ng-container *ngIf="this.AverageAQIValue > 0">
        <google-chart #chart
                      [title]="'AQI'"
                      [type]="typeGauge"
                      [data]="[[this.AverageAQIValue]]"
                      [columns]="['AQI']"
                      [options]="optionsGauge"
                      [width]="width"
                      [height]="height">
        </google-chart>
      </ng-container>
    </mat-grid-tile>


  </mat-grid-list>
</div>
